.git
.gitea
.github
.vscode
.idea
.fleet
.nova
.zed
.env
.env.*
!.env.example

node_modules
vendor

tests
test_xml

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/pail

database/database.sqlite

public/hot
public/storage
public/build

.phpunit.cache
.phpunit.result.cache
phpunit.xml

Homestead.json
Homestead.yaml

packages
